@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<table class="table">
    <thead>
        <tr>
            <th>#</th>
            <th>Product</th>
            <th>Description</th>
            <th>Price</th>
            <th>Manufacturer</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model.Products)
        {
            <tr>
                <th>@product.ProductId</th>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>@product.Manufacturer</td>
            </tr>
        }
    </tbody>
</table>
